<body class="sb-nav-fixed">
<%= render 'navbar'%>
<%= render 'sidenav-menu'%>
<%= render 'sidenav-footer'%>
<%= render 'main-top'%>

<!-- メインコンテンツ -->
<%= render 'est_show_all' %>

<script src="app/javascript/mypege_scripts.js"></script>
</body>
<%= render 'footer'%>
