<body class="sb-nav-fixed">
    <%= render 'navbar'%>
    <%= render 'sidenav-menu'%>
    <%= render 'sidenav-footer'%>
    <%= render 'main-top'%>

<!-- メインコンテンツ -->
<div class="container px-4 px-lg-5 border">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-lg-8 col-xl-6 text-center">
            <h2 class="mt-0">New Estimate</h2>
            <hr class="divider" />
            <p class="text-muted mb-5">新規見積作成</p>
        </div>
    </div>

    <div class="row gx- gx-lg-5 justify-content-center mb-5">
        <div class="col-lg-8 col-xl-6">
        <%= form_with model: @mypage, local: true do |f| %>

        <h3 class="mt-0">見積情報</h3>
        <div class='form-floating mb-3'>
            <div class='px-5'><%= f.label :見積管理番号%></div>
            <div class='px-5'><%= f.text_field :est_number %></div>
        </div>

        <div class='form-floating mb-3'>
            <div class='px-5'><%= f.label :発行日%></div>
            <div class='px-5'><%= f.text_field :issue_date %></div>
        </div>

        <div class='form-floating mb-3'>
            <div class='px-5'><%= f.label :有効期限%></div>
            <div class='px-5'><%= f.text_field :exp_date %></div>
        </div>

        <div class='form-floating mb-3'>
            <div class='px-5'><%= f.label :宛先%></div>
            <div class='px-5'><%= f.text_field :destination %></div>
        </div>

        <div class='form-floating mb-3'>
            <div class='px-5'><%= f.label :件名%></div>
            <div class='px-5'><%= f.text_field :title %></div>
        </div>

        <div class='form-floating mb-3'>
            <div class='px-5'><%= f.label :納期%></div>
            <div class='px-5'><%= f.text_field :dl_date %></div>
        </div>

        <div class='form-floating mb-3'>
            <div class='px-5'><%= f.label :提供条件%></div>
            <div class='px-5'><%= f.text_field :terms %></div>
        </div>

        <h3>初期費用</h3>

        <div class='form-floating mb-3'>
            <div class='px-5'><%= f.label :項目１%></div>
            <div class='px-5'><%= f.text_field :initial1 %></div>
        </div>

        <div class='form-floating mb-3'>
            <div class='px-5'><%= f.label :数量%></div>
            <div class='px-5'><%= f.text_field :initial1_vol %></div>
        </div>

        <div class='form-floating mb-3'>
            <div class='px-5'><%= f.label :単価%></div>
            <div class='px-5'><%= f.text_field :initial1_price %></div>
        </div>

        <div class='form-floating mb-3'>    
            <div class='px-5'><%= f.label :備考%></div>
            <div class='px-5'><%= f.text_field :initial1_memo %></div>
        </div>

        <h3>月額費用</h3>

        <div class='form-floating mb-3'>
            <div class='px-5'><%= f.label :項目１%></div>
            <div class='px-5'><%= f.text_field :run1 %></div>
        </div>

        <div class='form-floating mb-3'>
            <div class='px-5'><%= f.label :数量%></div>
            <div class='px-5'><%= f.text_field :run1_vol %></div>
        </div>

        <div class='form-floating mb-3'>
            <div class='px-5'><%= f.label :単価%></div>
            <div class='px-5'><%= f.text_field :run1_price %></div>
        </div>

        <div class='form-floating mb-3'>
            <div class='px-5'><%= f.label :備考%></div>
            <div class='px-5'><%= f.text_field :run1_memo %></div>
        </div>

        <div class="mb-3 px-5">
            <button type="button" class="btn btn-outline-primary">
            <%= f.submit "作成", class: 'btn'%></button>
        </div>
        <% end %>
    </div>
 </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="app/javascript/mypege_scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="app/assets/mypage/chart-area-demo.js"></script>
    <script src="app/assets/mypage/chart-bar-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="app/javascript/datatables-simple-demo.js"></script>
</body>

<%= render 'footer'%>
