<section class="page-section">
  <div class="container px-4 px-lg-5  border">

    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-lg-8 col-xl-6 text-center">
        <h2 class="mt-0">ログイン</h2>
        <hr class="divider" />
      </div>
    </div>

    <div class="row gx- gx-lg-5 justify-content-center mb-5">
      <div class="col-lg-8 col-xl-6">
        <%= form_with model: @user, url: user_session_path, local: true do |f|%>
        <div class='form-floating mb-3'>
          <div class='px-5'>
            <%= f.label :email%>
          </div>
          <div class='px-5 form-label'>
            <%= f.email_field :email, autofocus: true%>
          </div>
        </div>

        <div class='form-floating mb-3'>
          <div class='px-5'>
            <%= f.label :password%>
            <i>(英数字6文字以上)</i>
          </div>
          <div class='px-5'>
            <%= f.password_field :password, autocomplete: "off"%>
          </div>
        </div>

        <div class='mb-3 px-5'>
          <button type="button" class="btn btn-outline-primary">
            <%= f.submit "ログイン", class: 'btn'%>
          </button>
        </div>

        <div class="mb-3 px-5">
          <button type="button" class="btn btn-outline-secondary">
            <%= f.submit "戻る", class: 'btn'%>
          </button>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
</section>
